{% extends "easydmp/invitation/plan/base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
      <h1>Invitations for {{ object.title|capfirst }}</h1>
    </div>
  </div>
</div>

<div class="row uninett-color-white uninett-whole-row">
  <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
{% if object.planeditorinvitation_set.exists %}
<table>
<tr>
    <th>Invited</th>
    <th>By</th>
    <th>Sent</th>
    <th>Valid</th>
    <th>Accepted</th>
    <th>Actions</th>
</tr>
{% for invitation in object.planeditorinvitation_set.all %}
<tr>
    <td>{{ invitation.email_address }}</td>
    <td>{{ invitation.invited_by }}</td>
    <td>{{ invitation.sent|default:'Not sent' }}</td>
    <td>{{ invitation.is_valid|yesno }}</td>
    <td>{{ invitation.used|default:'Not yet' }}</td>
    <td>
        {% if not invitation.used %}<a href="{% url 'invitation_plan_editor_resend' uuid=invitation.uuid %}">Resend</a>{% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No invitations have been sent for plan &quot;<a href="{% url 'plan_detail' plan=object.pk %}">{{ object }}</a>&quot;.</p>
{% endif %}
  </div>
</div>
{% endblock content %}
