*.egg-info
*.pdf
*.py?
*.sw?
*.sh
*.sqlite3
*~
.coverage*
.mypy*
.tox
localsettings.py
Attic
htmlcov
build
dist
staticfiles
_build
eudat-template
mypi.ini
collected_static_files
src/easydmp/dmpt/static/**/*.svg
src/easydmp/dmpt/static/**/*.png
src/**/*.dot
