*.egg-info
*.pdf
*.py?
*.sw?
*.sh
*.sqlite3
*~
.coverage
.tox
htmlcov
build
dist
staticfiles
_build
eudat-template
collected_static_files
src/easydmp/dmpt/static/**/*.svg
src/easydmp/dmpt/static/**/*.png
src/**/*.dot
