/*
@font-face{ 
	font-family: 'colfaxThin';
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxThin.eot');
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxThin.eot?#iefix') format('embedded-opentype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxThin.woff') format('woff'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxThin.ttf') format('truetype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxThin.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxLight';
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxLight.eot');
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxLight.eot?#iefix') format('embedded-opentype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxLight.woff') format('woff'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxLight.ttf') format('truetype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxLight.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxRegular';
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegular.eot');
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegular.eot?#iefix') format('embedded-opentype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegular.woff') format('woff'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegular.ttf') format('truetype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegular.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxRegularItalic';
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegularItalic.eot');
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegularItalic.eot?#iefix') format('embedded-opentype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegularItalic.woff') format('woff'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegularItalic.ttf') format('truetype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxRegularItalic.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxMedium';
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxMedium.eot');
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxMedium.eot?#iefix') format('embedded-opentype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxMedium.woff') format('woff'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxMedium.ttf') format('truetype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxMedium.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxBold';
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxBold.eot');
	src: url('/static/external/uninett-bootstrap-theme/fonts/colfaxBold.eot?#iefix') format('embedded-opentype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxBold.woff') format('woff'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxBold.ttf') format('truetype'),
	     url('/static/external/uninett-bootstrap-theme/fonts/colfaxBold.svg#webfont') format('svg');
}
*/


body {
    /*
	background-color: #eeebe8;
    */
	font-family: 'colfaxRegular', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	padding-top: 70px;
	background-image: url("/static/eudat/bg_page.png")}
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "colfaxMedium", Helvetica, Arial, sans-serif;
	font-weight: Normal;
	line-height: 1.1;

}

h1, h2, h3 {
	margin-top: 0px;
	
}

h1, .h1 {
	font-size: 46px;
}


h2, .h2 {
	font-size: 36px;
}

.lead {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: Normal;
	font-family: 'colfaxRegularItalic', Helvetica, Arial, sans-serif; 
	line-height: 1.5;
}

.uninett-author {
	font-family: 'colfaxRegular', Helvetica, Arial, sans-serif; 
	font-size: 12px;
	color: #999;
	margin-top: 16px;
	margin-bottom: 16px;
	
}

.uninett-author-results {
	font-family: 'colfaxRegular', Helvetica, Arial, sans-serif; 
	font-size: 12px;
	color: #999;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

a {
	color: #005c9e;
	
}

a:hover, a:focus {
	color: #252677;
}

b, strong {
	font-family: 'colfaxMedium';
	font-weight: normal;
}

i, em {
	font-family: 'colfaxRegularItalic';
	font-weight: normal;
}

.form-control {
	-webkit-appearance: none;
	border-radius: 4;
	-webkit-border-radius: 4px;
}

input[type="search"] {
	-webkit-appearance: none; 
	border-radius: 3px;

}

.navbar-fixed-top {
	border-width: 0 0 0px;
	
	
}

.navbar {
	min-height: 70px;
	border: 0px;
	
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
	
}


.navbar-brand {		
		padding: 16px 14px;
		
		
}


.navbar-nav {
	
	margin-top: 17px;
	float: none;
	
}



.navbar-nav > li > a {
	
	font-family: 'colfaxRegular', Arial, sans-serif;
	font-size: 15px;
	color: #666464;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 13px;
	padding-bottom: 9px;
	
}

.navbar-nav .uninett-search {
	float:right;
	
	
}

.navbar-nav .uninett-login {
	float:right;
	z-index: 100;
}

.navbar-header:after {
	clear: none !important;
	
}

.uninett-menu-search {
	
	margin-top: 6px;
	
}

.navbar-form-uninett {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.1);
	margin-top: 0px;
	margin-bottom: 0px;
}


.navbar-default .navbar-nav > li > a {
	color: #666464;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #000000;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #fff;
	color: #eb212e;
	
	
}

.navbar-toggle {
	border: 0px solid transparent;
	border-radius: 0px;	
	margin-right: 6px;
}

.navbar-toggle .icon-bar {
	border-radius: 0px;
	height: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #231f20;

}

.department {
	
	font-family: 'colfaxLight', Arial, sans-serif;
	font-size: 26px;
	color: #6a5f58;
	float: left;
	padding-right: 25px;
	padding-top: 16px;
	
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #eb212e;
	background-color: #ffffff;
}

.dropdown-menu {
	font-family: 'colfaxRegular', Arial, sans-serif;
	font-size: 14px;
	padding: 13px 4px;
	margin: 2px 0 0;
	background-color: #ffffff;
	border: 0px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 0px;
	
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #000000;
	background-color: #ffffff;
}

.dropdown-menu > li > a {
	color: #666464;

}

.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #eb212e;
	border-bottom-color: #eb212e;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #eb212e;
}


.jumbotron {
	margin-bottom: 0px;
	margin-top: 20px;
	background-color: #92ceef;
}

.jumbotron h1 {
	line-height: 1;
	letter-spacing: 0px;
	font-family: 'colfaxThin', Arial, sans-serif;
	font-size: 60px;
	color: #fff;
}

.jumbotron p {
	line-height: 1.2;
	letter-spacing: 0px;
	font-family: 'colfaxLight', Arial, sans-serif;
	font-size: 20px;
}

.container .jumbotron {
	border-radius: 0px;

}


.uninett-padded {
	padding: 40px;
}
.uninett-padded-small {
	padding: 20px 10px;
}

.uninett-whole-row {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	
}

.uninett-whole-row-col {
	padding-left: 0px;
	padding-right: 0px;
	
}

.gutter {
	margin-top: 20px;
}

.uninett-color-lightBlue {
	background-color: #92ceef;
}

.uninett-color-blue {
	background-color: #005c9e;
}

.uninett-color-darkBlue {
	background-color: #00404c;
}

.uninett-color-lightGreen {
	background-color: #4cc0be;
}

.uninett-color-green {
	background-color: #00b086;
}

.uninett-color-darkGreen {
	background-color: #006b49;
}

.uninett-color-white {
	background-color: #ffffff;
}

.uninett-color-red {
	background-color: #eb212e;
}

.uninett-color-orange {
	background-color: #f3823e;
}
.uninett-color-purple {
	background-color: #252379;
}


.uninett-fontColor-black {
	color: #231f20;
}

.uninett-fontColor-grey {
	color: #a0a0a0;
}

.uninett-fontColor-white {
	color: #ffffff;
}

.uninett-fontColor-red {
	color: #eb212e;
}


.uninett-pattern1 {
	background-image:url(/static/external/uninett-bootstrap-theme/images/uninett_struktur1.jpg);
	
}




/* BUTTONS */


.btn-default {
	font-family: 'colfaxMedium', Arial, sans-serif;
	color: #231f20;
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #231f20;
	background-color: #dfdfdf;
	border-color: #dfdfdf;
	
}



.btn-primary {
	font-family: 'colfaxMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #337db1;
	border-color: #337db1;
	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #005c9e;
	border-color: #005c9e;
	
}




.btn-success {
	font-family: 'colfaxMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #33c09e;
	border-color: #33c09e;
	
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	color: #ffffff;
	background-color: #00b086;
	border-color: #00b086;
	
}



.btn-info {
	font-family: 'colfaxMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #8fc1dd;
	border-color: #8fc1dd;
	
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color: #ffffff;
	background-color: #73b1d4;
	border-color: #73b1d4;
	
}



.btn-warning {
	font-family: 'colfaxMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #f59b65;
	border-color: #f59b65;
	
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	color: #ffffff;
	background-color: #f3823e;
	border-color: #f3823e;
	
}



.btn-danger {
	font-family: 'colfaxMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #ef4d58;
	border-color: #ef4d58;
	
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	color: #ffffff;
	background-color: #eb212e;
	border-color: #eb212e;
	
}



.btn-group>.btn, .btn-group-vertical>.btn {
	margin-right: 3px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	font-family: 'colfaxMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #337db1;
}

.glyphicon_search_menu {
	top: 14px;
	margin-left: -27px;
	font-size: 18px;
}


.breadcrumb {
	opacity: 0.5;
	border-radius: 0px;
	font-family: 'colfaxRegularItalic', Arial, sans-serif;
	font-size: 12px;
	padding: 4px 11px;
	margin-bottom: 16px;
	background-color: #f5f5f5;
	
	
}


.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	
	background-color: #337db1;
	border-color: #337db1;

}


.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
}




.alert-success {
	background-color: #e5f7f3;
	border-color: #e5f7f3;
	color: #00b086;
}

.alert-info {
	background-color: #e5eef5;
	border-color: #e5eef5;
	color: #005c9e;
}

.alert-warning {
	background-color: #fef2eb;
	border-color: #fef2eb;
	color: #f3823e;
}

.alert-danger {
	background-color: #fde8ea;
	border-color: #fde8ea;
	color: #eb212e;
}

.alert-dismissable .close {
	top: -4px;
	right: -18px;

}

.close {
	font-size: 27px;
	font-weight: normal;
	font-family: 'colfaxMedium', Arial, sans-serif;

}

.alert .alert-link {
	font-weight: normal;
	font-family: 'colfaxMedium', Arial, sans-serif;
}





.progress-bar-success {
	background-color: #4cc8aa;
}

.progress-bar-info {
	background-color: #4c8dbb;
}

.progress-bar-warning {
	background-color: #f7a778;
}

.progress-bar-danger {
	background-color: #f1636c;
}




.badge {
	font-weight: normal;
	font-family: 'colfaxMedium', Arial, sans-serif;

}


.uninett-hr-divider {
	border-top: 1px solid #d9d6d4;
	margin: 60px 0;
}


.footer-uninett {
	margin: 0 auto 1em auto;
	float: right;
	right: 50%;
	position: relative;
	
}

.footer-content-uninett {
	float: right;
	right: -50%;
	position: relative;

}

.footer-logo {
	float:left;
	padding: 5px;
	
}


.footer-logo img {
	width: 0.9em;
	height: 1.2em;
	
}

.footer-uninett-department {
	float:left;
	margin-top: 7px;
	font-family: 'colfaxMedium';
	color: #333;
	
}



.uninett-ul {
	list-style-type: none;
	padding: 20px 0px 0px 20px;
	margin: 0px;
}

.uninett-ul-li {
	background-image: url(/static/external/uninett-bootstrap-theme/images/li.png);
	background-repeat: no-repeat;
	background-position: 0px 8px; 
	padding-left: 14px; 
	line-height: 30px;
}


.uninett-login-btn {
	margin-right: 0px;
	margin-top: 6px;
	margin-left: 14px;
}



.modal-login-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
	text-align: center;
	border-top: 0px solid #fff;

}

.modal-login-title {
	text-align: center;
	font-size: 30px;
}

.modal-login-header {
	padding: 15px;
	border-bottom: 0px solid #fff;
}

dt { 
	font-family: "colfaxMedium", Helvetica, Arial, sans-serif;
	font-weight: normal;
}





@media (min-width: 768px) {
	.navbar > .container .navbar-brand {
		margin-left: -14px;
	}
  
	
  
}

@media (max-width: 990px) and (min-width: 768px) {
	
	.navbar-nav {
	
		margin-top: 16px;
	
	}
	
	
	.uninett-login-btn {
		margin-right: 0px;
		margin-left: 16px;
	}

	.navbar > .container .navbar-brand {
		margin-left: -13px;
	}
	
	.container > .navbar-header, .container > .navbar-collapse {
		margin-top: 2px;
	}
	
	.jumbotron h1 {
		font-size: 50px;
		font-family: 'colfaxLight', Arial, sans-serif;
	}
	
	.navbar-brand {		
		padding: 16px 12px;
		width: 140px;
		
	}
	
	
	.navbar-toggle {
		margin-top: 15px;
	}
	
	.navbar img {
		max-width: 100%;
	
	}

		
	.navbar-nav > li > a {
		
		font-family: 'colfaxRegular', Arial, sans-serif;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 9px;
		
	}
	
	.navbar-nav .uninett-search {
		float:none;
		height: 60px;
		
	}
	
	.uninett-menu-search {
		margin-left: 13px;
		margin-top: 6px;
	}
	
	.glyphicon_search_menu {
		top: 12px;
		margin-left: -24px;
		font-size: 16px;
	}
	
	.department {
		
		font-family: 'colfaxRegular', Arial, sans-serif;
		font-size: 22px;
		float: left;
		padding-right: 20px;
		padding-top: 15px;
		
	}

	
	
	
}


@media (max-width: 767px) {
	
	body {
		padding-top: 46px;
		font-family: 'colfaxLight', Arial, sans-serif;
		font-size: 14px;
		line-height: 1.4;	
	
	}	

	.navbar {
		min-height: 50px;
	
		
	}
	
	.navbar-nav {
		margin-bottom: 30px;
		
	}

	
	.navbar img {
		max-width: 100%;
	
	}
	
	
	.navbar-brand {		
		padding: 12px 10px;
		width: 110px;
		
	}
	
	
	.navbar-nav .uninett-search {
		float:none;
		height: 60px;
	}
	
	
	.department {
		font-family: 'colfaxLight', Arial, sans-serif;
		font-size: 18px;
		float: left;
		padding-right: 0px;
		padding-top: 13px;
		
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		background-color: #eb212e;
		color: #fff;
	}

	
	.container > .navbar-header, .container > .navbar-collapse {
		margin-left: -10px;
		
	}
	
	.jumbotron {
		margin-top: 18px;
		
	}
	
	.jumbotron h1 {
		font-size: 40px;
		font-family: 'colfaxLight', Arial, sans-serif;
	}
	
	.jumbotron p {
		line-height: 1.3;
		font-size: 16px;
		
	}
	
	h1 {
		margin-top: 1px;
	}
	
	.btn-lg {
		padding: 10px 16px;
		font-size: 14px;
		border-radius: 4px;
	}
	
	
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: "colfaxBold", Helvetica, Arial, sans-serif;
	
	}
	
	h1, .h1 {
		font-size: 36px;
	}
	
	h2, .h2 {
		font-size: 24px;
	}
	
	.gutter {
		margin-top: 15px;
	}
	
	.uninett-padded {
		padding: 20px;
		
	}
	
	.uninett-hr-divider {
		border-top: 1px solid #d9d6d4;
		margin: 30px 0;
	}
	

	.lead {
		font-size: 18px;
		line-height: 1.4;
	}
	
	.uninett-author {
		font-size: 10px;
		color: #999;
		margin-top: 16px;
		margin-bottom: 16px;
		
	}
	
	.uninett-author-results {
		
		font-size: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	
	.uninett-menu-search {
		margin-left: 20px;
		width: 50%;
		
	}
	
	.glyphicon_search_menu {
		top: 13px;
		margin-left: -29px;
		font-size: 18px;
	}
	
	
	.uninett-login-btn {
		margin-right: 20px;
		margin-left: 20px;
	}


}

footer {
    padding-top: 1em;
}
footer p {
    padding-top: 1em;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
	
	.uninett-ul {
		padding: 10px 0px 0px 10px;
	}
	
	.uninett-ul-li {
		background-image: url(/static/external/uninett-bootstrap-theme/images/li@2x.png);
		line-height: 26px;
		background-size: 8px;
	}
	
}

