
/* new css*/
/* general elements */
h2{
  font-weight: bold;
  font-size: 28px;
}

h3{
  color: #337db1;
  font-weight: 600;
  font-size: 22px;
  /*font-size: 2.5rem;*/
}
a {
  color: #337ab7;
}
.col-lg-12 {
  overflow: hidden;
}
.row {
  background: transparent !important;
  background-color: transparent !important;
}
/* navigation */
.navbar-fixed-top {
  position: absolute !important;
  background: #00404b;
}
.navbar {
  min-height: 0px;
}
.navbar-brand{
  margin-top: -5px;
}
.navbar-nav{
  margin: 17px 0 20px 0;
  float: right;
}
.navbar-default .navbar-nav > li > a {
  font-family: 'colfaxMedium', Arial, sans-serif;
  /*color: #005c9e;*/
  color: #ffffff;
  font-weight: 600;
}
.navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:hover .btn-default {
  color: #ffffff;
  text-decoration: underline;
}
.nav .btn-default{
  margin-top: -3.2px;
  display: inline-block;
  background: transparent;
  /*color:  #005c9e;*/
  color: #ffffff;
  border: none;
  font-size: 15px;
  padding: 0;
  font-weight: 600;
}
.nav .btn-default:hover{
  color: #000;
}
.navbar-toggle:hover {
  background-color: transparent;
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #00404a;
}
/* log in icon */
.uninett-login-btn .glyphicon-user {
  padding-right: 1em;
}
/* demo banner */
.container.demo{
  margin-top: 0px !important;
  width: 100% !important;
  background: #00404b;
  display: none;
}
.demo p {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  margin-bottom: 0px;
  line-height: 35px;
}
.divider{
  width: 100%;
  display: block;
}
/* log in page */
.login h2 {
  padding-bottom: .5em;
}
.login h3 {
  padding-bottom: .25em;
}

.top-wrap {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #eeebe8;
  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  padding-bottom: 40px;
}
.uninett-pattern1 {
  background-image: none !important;
}
.jumbotron{
  background-color: transparent !important;
  display: inline-block;
  float: left;
  padding: 0px;
  margin-top: 0px;
}
.jumbotron h1, .jumbotron h2{
  font-size: 28px;
  margin-bottom: 0px;
  color: #000000 !important;
  font-weight: bold;
  font-family:'colfaxBold', Arial, sans-serif;
}
.jumbotron-small h1 {
  font-size: 28px !important;
}
#action_html{
  margin-right: 1em;
}
.dmpsummary .section{
  position: relative;
  margin: 0;
  padding: 0em 0 0em 0;
}
.section_title{
  max-width: 80%;
  padding-bottom: .5em;
}
.section_depth_1:last-of-type {
  padding-bottom: 4em !important;
}
.section_depth_1 .section_title {
      border-bottom: 2px solid #000000;
      width: 100%;
      max-width: 100%;
      padding: 1.5em 0;
      margin-bottom: 0px;
}

.section_depth_2 .section_title {
      border-bottom: none !important;
      padding: .8em 0;
      margin-bottom: 0px;
}

.section_depth_1 .section_title a{
  color: #000000;
}

.dmpsummary .section_depth_2 {
  margin: 2em 0;
}
.section_depth_2 .section_title a {
  font-size: 19px !important;
  color: #337ab7 !important;
}
.content-wrap {
  padding-right: 1em;
}
.content-wrap .section_introduction{
  padding-top: 2em;
}
.question{
  font-weight: 600;
  padding-bottom: .5em;
  max-width: 80%;
}
dd, .section_introduction p, .notes {
    max-width: 80%;
  }
#summary_header h2, #summary_header h1 {
  background: #eef9ff;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 40px;
  position: absolute;
  display: inline-block;
  font-size: 28px;
  margin-bottom: 0px;
  color: #337ab7;
  font-weight: bold;
  font-family: 'colfaxBold', Arial, sans-serif;
}
#summary_header .btn-default {
  margin-top: -40px;
  height: 110px;
}
#summary_header button .caret{
  position: absolute;
  right: 0;
  top: 5px;
  border: none !important;
  width: 23px;
  height: 23px;
  background: url('icons/icon-options.png') no-repeat center center;
  background-size: 100%;
  transform: rotate(-0deg);
  margin-right: 1em;
}

#summary_header button.open .caret{
  background: url('icons/icon-close.png') no-repeat center center;
  background-size: 76%;
  transform: rotate(-0deg);
}
#summary_header ul {
  display: block;
  width: 100%;
  /*height: 168px;*/
  padding: 1em 0;
  height: 200px;
  background: #ffffff;
  border-bottom: 4px solid #eef9ff;
}
#summary_header ul li {
  list-style: none;
}
#summary_header .actions{
}
.dmpsummary .section .btn-default{
  top: 0;
  height: 92px;
  position: absolute;
  background: transparent !important;
  border: none !important;
  width: 100%;
  padding: 2em 1.3em 2em 0;
}
.dmpsummary .section .btn-default.open .caret {
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 3px solid black;
  border-top: 3px solid black;
}
/*
#\32 1-making-data-findable-including-provisions-for-metadata,
#\32 2-making-data-openly-accessible,
#\32 3-making-data-interoperable,
#\32 4-increase-data-reuse,
#\32 5-allocation-of-resources
{
  border-top: none !important;
  padding: 0;
  margin-top: 4em;
}
#\32 5-allocation-of-resources, #\32 4-increase-data-reuse {
    padding-bottom: 2em;
  }
*/
/*
#\32 1-making-data-findable-including-provisions-for-metadata p.actions,
#\32 2-making-data-openly-accessible p.actions,
#\32 3-making-data-interoperable p.actions,
#\32 4-increase-data-reuse p.actions,
#\32 5-allocation-of-resources p.actions
{
    top: 0;
  }
*/
#\32-fair-data {
  padding-bottom: 0;
}
#\32 1-making-data-findable-including-provisions-for-metadata .section_title,
#\32 2-making-data-openly-accessible .section_title,
#\32 3-making-data-interoperable .section_title,
#\32 4-increase-data-reuse .section_title,
#\32 5-allocation-of-resources .section_title
{
  /*color: #337db1;*/
  color: #000000;
  font-size: 22px;
  font-weight: 400;
}
#\32 1-making-data-findable-including-provisions-for-metadata .questionrow,
#\32 2-making-data-openly-accessible .questionrow,
#\32 3-making-data-interoperable .questionrow,
#\32 4-increase-data-reuse .questionrow,
#\32 5-allocation-of-resources .questionrow
{
  margin-left: 1.5em;
}
.questionrow{
  position: relative;
}

p.actions{
  position: absolute;
  top: 0;
  right: 0;
}
/* Editors Box */
.uninett-color-white ul{
  margin-bottom: 1em;
}
.uninett-color-white ul li{
  line-height: 2em;
}
/* Edit Page */
#editplan_header {
  border-bottom: none !important;
  height: 68px;
}
#editplan_header h2, #editplan_header h1 {
  background: #eef9ff;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 40px;
  position: absolute;
  display: inline-block;
  font-size: 28px;
  margin-bottom: 0px;
  color: #337ab7 !important;
  font-weight: bold;
  font-family: 'colfaxBold', Arial, sans-serif;
}
#editplan_header .btn-group {
  width: 100%;
  height: 108px;
  left: 0;
  position: absolute;
  padding: 0 40px;
}
#editplan_header .btn-group .wrap {
  width: auto;
  float: right;
  display: inline-block;
  margin-top: -12px;
}
#editplan_header .summary-link, #editplan_header .caret{
  height: 108px;
  top: -12px !important;
  line-height: 108px;
  right: 0px !important;
  color: #337db1;
  display: inline-block;
  float: right;
  font-family: 'colfaxBold', Arial, sans-serif;
  background: transparent;
  border: none;
  font-weight: bold;
  padding: 0;
  font-size: 18px;
}
#editplan_header .summary-link:hover{
  background-color: transparent;
  text-decoration: underline;
  color: #005c9e;
}
#editplan_header .caret {
  background: transparent url('icons/icon-arrow.png') no-repeat center center;
  width: 15px;
  height: 108px;
  line-height: 108px;
  float: left !important;
  background-size: 100%;
  margin-right: 10px;
}
/* Autosave message */
.savetxt {
  float: right;
  text-align: center;
  color: #a5a5a5;
  font-size: 15px;
  display: inline-block;
  width: auto;
  right: 0px;
  margin-top: 29px;
  padding: 0px !important;
}
/* progress / status bar */
.progressbar {
  padding-bottom: 20px;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 1em;
  /*padding-bottom: 20px;
  background: #8fcef1 !important;
  display: block;
  width: 100%;
  height: 76px;
  margin-top: 0px;*/
}
.progressbar-small {
  height: 40px;
  overflow: hidden;
  padding-bottom: 0;
}

.progressbar-small ul{
  padding-top: .3em !important;
  background: #337cb252;
}
.withfadeout {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.withfadein {
-webkit-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
  -ms-transition: all .5s ease-out 0s;
  -o-transition: all .5s ease-out 0s;
  transition: all .5s ease-out 0s;
}
.progressbar-small ul li span {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 13px !important;
  float: left;
}
.progressbar-small .progressbar2 {
  top: 15px;
}
.progressbar ul {
  padding: 0px 40px;
  width: 100%;
  display: flex;
  margin-bottom: 0px;
  position: absolute;
  left: 0;
  height: 40px;
  background-color: #8fcef1;
  padding-top: .32em !important;
}
/*.progressbar ul li, .progressbar ul .linkwrap{
  position: relative;
  float: left;
  list-style: none;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 13px;
}*/
.progressbar ul .linkwrap{
  position: relative;
  float: left;
  list-style: none;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 13px;
}
.progressbar ul li a {
  text-align: left;
}
.progressbar .sect-name, .progressbar p{
  margin: 0px;
  margin-top: 2.8px;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.5;
  float: left;
  font-family: 'colfaxBold', Arial, sans-serif;
}

.progressbar ul li:hover p{
  opacity: 1;
}
.progressbar ul li:hover span{
  border: 1px solid #337db1 !important;
  background: #337db1 !important;
  color: #ffffff !important;
}
.progressbar ul li:hover span.withfadein a {
  color: #ffffff !important;
}
.progressbar ul li a:hover {
    text-decoration: none;
}
.progressbar2 {
 width: 100%;
 height: 1px;
 position: absolute;
 top: 25px;
 background-color: #000;
 z-index: -1;
}
.progressbar ul li:first-of-type .progressbar2{
  width: 50% !important;
  right: 0;
}
.progressbar ul li:last-of-type .progressbar2{
  width: 50%;
  left: 0;
}
.progressbar ul li span {
  width: 30px;
  height: 30px;
  border: 1px solid #337db1;
  display: inline-block;
  background-color: #eeebe8;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  line-height: 30px;
  font-size: 16px;
}
.progressbar ul li.active span {
  background-color: #337db1;
  border-color: #337db1;
  color: #ffffff;
}
.progressbar ul li.active span a {
  color: #ffffff;
}
.progressbar ul li.active p {
  opacity: 1;
}
.progressbar ul li.visited span {
  background-color: #dad8d6;
  border-color: #dad8d6;
}
/* end progressbar */
.section-depth-1 h3 {
      width: 100%;
      max-width: 100%;
      padding: 1.5em 0;
      margin-bottom: 0px;
      color: #000000;
}
.section_depth_2 h3{
      border-bottom: none !important;
      padding: 0;
      font-size: 19px !important;
}
.question-label .control-label {
  font-family: 'colfaxBold', Arial, sans-serif;
}
.row  .section-information .btn-default {
  border-radius: 0%;
  /*margin-top: -70px;*/
  margin-top: -120px;
  /*border-bottom: 2px solid #000000 !important;*/
}
.row  .section-information .btn-default:hover {
  border-bottom: none !important;
}
.section-info-wrap {
  padding-bottom: 2em;
}
textarea {
  width: 100%;
}
.select2-container{
  width: 100% !important;
}
.controls textarea{
  width: 100%;
  height: 150px;
}
.form-actions {
  position: relative;
  padding-top: 2em;
}
#question-position{
  width: 100%;
  display: inline-block;
  text-align: center;
  left: 0;
  z-index: 0;
  line-height: 34px;
  height: 34px;
}
.form-actions .btn-primary{
  z-index: 100;
}
#id-prev {
  position: absolute;
  left: 0;
}
#id-next {
  position: absolute;
  right: 0;
  bottom: 0;
}
.form-actions #id-next{
  float: right;
}
.form-actions #id-prev {
  background: transparent;
  color: #333;
}
.blueForms .control-group {
  width: 100%;
  max-width: 100%;
}
/* your plans page */
#create_new_plan{
  font-size: 1.2em !important;
  display: inline-block;
  float: right;
  align-self: flex-end;
}
#create_new_plan h2{
  font-size: 1em;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'colfaxBold', Arial, sans-serif;
}
#create_new_plan h2 a {
  line-height: 28px;
}
.dmptable {
  width: 100%;
  margin-top: 0px;
  display: block;
}
.dmptable tbody {
  display: block;
}
.dmptable tbody tr {
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  border-bottom: 1px dashed #efebe9;
}
.dmptable tbody tr:last-of-type {
    border-bottom: none !important;
}
.dmptable tr th, .dmptable tr td, .dmptable tr .actiondd {
  padding-bottom: 0.2em;
  display: inline-block;
  width: 32%;
  height: 60px;
  line-height: 60px;
  float: left;
  padding-right: 0px !important;
}
.dmptable tr td:nth-child(1) {
  width: 38% !important;
  font-weight: bold;
  font-family:'colfaxBold', Arial, sans-serif;
}
.dmptable tr td:nth-child(3) {
  float: right !important;
  width: 15% !important;
}
body .dmptable tr .actiondd{
  width: 15% !important;
}
.dmptable tr .actiondd td{
  width: 100% !important;
}
.dmptable tr td:nth-child(1) a {
  display: block;
}
/*
tr .dropdown .btn-default {
  background: url("icons/icon-options-black.png") no-repeat center right;
  background-size: 12%;
  width: 100%;
  height: 60px;
}

tr td .open .btn-default {
  background: url("icons/icon-options-black.png") !important;
  background-size: 12%;
  width: 100%;
  height: 60px;
}*/

tr .dropdown .btn-default .caret{
  position: absolute;
  right: 0;
  top: 5px;
  border: none !important;
  width: 19px;
  height: 19px;
  top: 18.5px;
  background: url('icons/icon-options-black.png') no-repeat center center;
  background-size: 100%;
  transform: rotate(-0deg);
  margin-right: 1em;
}
tr .dropdown .btn-default:hover .caret{
  background: url('icons/icon-options.png') no-repeat center center;
    background-size: 100%;
}

#slider button .caret{
  background: url('icons/icon-close.png') no-repeat center center;
  background-size: 76%;
  transform: rotate(-0deg);
}
/*
tr .dropdown .btn-default .caret {
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
  border-right: none !important;
  background: transparent !important;
}*/
.dropdown .btn-default {
  background-color: transparent;
  border-color: transparent;
  height: 60px;
  width: 100%;
  padding: 0px;
}
.dropdown .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default
{
  border-color: white !important;
  outline: 0 !important;
  border: none !important;
  border-style: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #231f20;
    background-color: transparent;
    border-color: transparent;
}
.dropdown .btn-default:hover .caret {
  border-left: 3px solid #337ab7;
  border-bottom: 3px solid #337ab7;
}
.dropdown.open .btn-default:hover .caret {
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 3px solid #337ab7;
  border-top: 3px solid #337ab7;
}
.btn-default .caret {
    float: right;
    width: 11px;
    height: 11px;
    background: white;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid white;
    border-top: 3px solid white;
    display: inline-block;
    border-radius: 2px;
    transform: rotate(-45deg);
  }
  .dropdown.open .btn-default .caret{
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid black;
    border-top: 3px solid black;
  }

  .btn-default.open .caret{
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid black;
    border-top: 3px solid black;
  }
.btn-default.open:hover .caret {
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 3px solid #337ab7;
  border-top: 3px solid #337ab7;
}

.dropdown.open{
  width: 100%;
  position: absolute !important;
  left: 0;
}
.slider.closed {
	max-height: 0;
}
.dropdown-menu {
  display: none;
}
#slider .dropdown-menu {
  width: 100%;
  padding: 0 !important;
  background-color: #eef9ff;
  position: absolute;
  left: 0;
  top: 56px;
  border-top: 2px solid #efebe9;
  border-bottom: 2px solid #efebe9;
  outline: 0 !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*
.dropdown.open .dropdown-menu {
  width: 100%;
  padding: 0 !important;
  background-color: #eef9ff;
  position: absolute;
  left: 0;
  top: 56px;
  border-top: 2px solid #efebe9;
  border-bottom: 2px solid #efebe9;
  outline: 0 !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/
.slider2{
  overflow-y: hidden;
	max-height: 185px !important; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slider1 {
  max-height: 0px !important;
}
.dynamicdiv {
  display: none;
  width: 100%;
  height: 185px;
}
.dropdown-menu li, .plan-actions li {
  width: 33.333%;
  float: left;
  display: inline-block;
}
.dropdown-menu li:last-of-type, .plan-actions li:last-of-type{
  float: right !important;
}
.dropdown-menu li a, .plan-actions li a{
  line-height: 40px;
  color: #000000;
  display: block;
  padding: .5em 2em;
}
.dropdown-menu li:hover{
  background: rgba(255,255,255,.95);
}
.plan-actions li:hover {
  background: #eef9ff;
}
.dropdown-menu li a:hover {
  background: transparent;
}
.dropdown-menu img,  .plan-actions img{
  height: 20px;
  margin-right: 10px;
}
.dmptable tr th:nth-child(5) {
  float: left !important;
}
.actiondd a {
  padding-right: 1ex;
}
.actiondd td {
  font-weight: normal !important;
  font-family:'colfaxRegular', Arial, sans-serif !important;
}
.dmptable tr td .dropdown button {
  float: right;
  padding-right: 10px;
}

/* Create new plan page */
#id_title{
  margin-bottom: 1.5em;
}

/* delete conformation dialog */
#id-delete #submit-id-submit {
  margin-right: 1em;
}

/* save as new / duplicate page */
#div_id_keep_users .radio{
    padding: .5em 1.5em;
}
/* media queries */

@media screen and (min-width: 768px) {
  .demo p {
      width: 750px;
  }
  .jumbotron {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media screen and (min-width: 992px){
  .demo p {
      width: 970px;
  }
}
@media screen and (min-width: 1200px){
  .demo p {
      width: 1170px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .navbar img {
      max-width: 240px !important;
  }
}
@media (max-width: 767px) {
  .navbar img {
      max-width: 160px !important;
  }
  .top-wrap {
      padding-bottom: 20px;
  }
  #summary_header .btn-default {
    margin-top: -20px;
  }
  #summary_header button .caret {
    top: 20px;
  }
}
