
/* new css*/
/* general elements */
h2{
  font-weight: bold;
}

h3{
  color: #337db1;
  font-weight: 600;
  /*font-size: 2.5rem;*/
}

/* navigation */
.navbar-brand{
  margin-top: -5px;
}
.navbar-nav{
  margin: 17px 0 20px 0;
  float: right;
}
.navbar-default .navbar-nav > li > a{
  color: #005c9e;
  font-weight: 600;
}
.nav .btn-default{
  margin-top: -3.2px;
  display: inline-block;
  background: transparent;
  color:  #005c9e;
  border: none;
  font-size: 15px;
  padding: 0;
  font-weight: 600;
}

.nav .btn-default:hover{
  color: #000;
}

/* demo banner */
.demo{
  width: 100% !important;
  background: #00404b;
}
.demo p {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  margin-bottom: 0px;
  line-height: 35px;
}

.divider{
  width: 100%;
  /*height: 20px;*/
  display: block;
}

.jumbotron{
  padding: 1.5em 40px;
  /*margin-top: 28px;*/
  margin-top: 48px;
  background-color: #00404c !important;
}

.jumbotron h1, .jumbotron h2{
  font-size: 45px;
  margin-bottom: 0px;
  color: #ffffff;
  font-weight: normal;
}
#action_html{
  margin-right: 1em;
}

.section{
  position: relative;
  border-top: 2px solid #979797;
  margin: 2em 0;
  padding: 4em 0 2em 0;
}

.section_title{
  max-width: 80%;
  padding-bottom: .5em;
}

.question{
  font-weight: 600;
  padding-bottom: .5em;
  max-width: 80%;
}

dd, .section_introduction p {
    max-width: 80%;
  }

#summary_header h2{
  display: inline-block;
}

#summary_header .actions{
  display: inline-block;
  float: right;
  margin-top: 5px;
}

#\32 1-making-data-findable-including-provisions-for-metadata,
#\32 2-making-data-openly-accessible,
#\32 3-making-data-interoperable,
#\32 4-increase-data-reuse,
#\32 5-allocation-of-resources
{
  border-top: none !important;
  padding: 0;
  margin-top: 4em;
}

#\32 1-making-data-findable-including-provisions-for-metadata p.actions,
#\32 2-making-data-openly-accessible p.actions,
#\32 3-making-data-interoperable p.actions,
#\32 4-increase-data-reuse p.actions,
#\32 5-allocation-of-resources p.actions
{
    top: 0;
  }

#\32-fair-data {
  padding-bottom: 0;
}
#\32 1-making-data-findable-including-provisions-for-metadata .section_title,
#\32 2-making-data-openly-accessible .section_title,
#\32 3-making-data-interoperable .section_title,
#\32 4-increase-data-reuse .section_title,
#\32 5-allocation-of-resources .section_title
{
  /*color: #337db1;*/
  color: #000000;
  font-size: 22px;
  font-weight: 400;
}

#\32 1-making-data-findable-including-provisions-for-metadata .questionrow,
#\32 2-making-data-openly-accessible .questionrow,
#\32 3-making-data-interoperable .questionrow,
#\32 4-increase-data-reuse .questionrow,
#\32 5-allocation-of-resources .questionrow
{
  margin-left: 1.5em;
}

.questionrow{
  position: relative;
}

p.actions{
  position: absolute;
  top: 0;
  right: 0;
}

/* Editors Box */
.uninett-color-white ul{
  margin-bottom: 1em;
}
.uninett-color-white ul li{
  line-height: 2em;
}


/* Edit Page */
.container .row .col-lg-12{
  /*margin-top: 20px;*/
}
.btn-group {
  position: absolute;
  right: 0;
  top: 0;
}
.summary-link{
  position: absolute !important;
  top: 0;
  right: 40px;
  font-size: 18px;
  background: transparent;
  color:  #005c9e;
  border: none;
  padding: 0;
}
.summary-link:hover{
  background-color: transparent;
  text-decoration: underline;
  color: #005c9e;
}

.breadcrumbs .breadcrumb{
  color: black;
  background: none;
  opacity: 1;
}
.breadcrumb-separator{
  vertical-align: middle;
}
.select2-container{
  width: 100% !important;
}
.controls textarea{
  width: 100%;
}
#question-position{
  width: 85%;
  display: inline-block;
  text-align: center;
}
.form-actions .btn-primary{
  width: 7%;
  min-width: 34px;
}
.form-actions #id-next{
  float: right;
}


/* your plans */
.dmptable {
  width: 100%;
  margin-top: 2em;
}
.dmptable tr th, .dmptable tr td{
  padding-bottom: 0.2em;
}

.dmptable tr td:nth-child(3),
.dmptable tr th:nth-child(3),
.dmptable tr td:nth-child(4),
.dmptable tr th:nth-child(4),
.dmptable tr td:nth-child(5),
.dmptable tr th:nth-child(5)
{
  float: right;
  width: 30%;
}
#create_new_plan{
  margin-top: 3em;
}

/* Create new plan page */
#id_title{
  margin-bottom: 1.5em;
}
#submit-id-submit{
  margin-top: 3em;
}

/* media queries */

@media screen and (min-width: 768px) {
  .demo p {
      width: 750px;
  }
  .jumbotron {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}

@media screen and (min-width: 992px){
  .demo p {
      width: 970px;
  }
}
@media screen and (min-width: 1200px){
  .demo p {
      width: 1170px;
  }
}

@media screen and (max-width: 991px){
  .form-actions .btn-primary{
    width: 10%;
  }
  #question-position{
    width: 79%;
  }
}
@media screen and (max-width: 630px){
  .form-actions .btn-primary{
    width: 15%;
  }
  #question-position{
    width: 65%;
  }
}

@media screen and (max-width: 450px){
  .form-actions .btn-primary{
    width: 20%;
  }
  #question-position{
    width: 55%;
  }
}
