<div class="invitation-list">
{% if plan_invitations.exists %}
<table>
<tr>
    <th>Invited</th>
    <th>By</th>
    <th>Sent</th>
    <th>Valid</th>
    <th>Accepted</th>
    <th>Actions</th>
</tr>
{% for invitation in plan_invitations.all %}
<tr>
    <td>{{ invitation.email_address }}</td>
    <td>{{ invitation.invited_by }}</td>
    <td>{{ invitation.sent|default:'Not sent' }}</td>
    <td>{{ invitation.is_valid|yesno }}</td>
    <td>{{ invitation.used|default:'Not yet' }}</td>
    <td>
        {% if not invitation.used %}
        <a href="{% url 'invitation_plan_editor_resend' uuid=invitation.uuid %}">Resend</a>
        <a href="{% url 'invitation_plan_editor_revoke' uuid=invitation.uuid %}">Revoke</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No invitations have been sent for plan &quot;<a href="{% url 'plan_detail' plan=object.pk %}">{{ object }}</a>&quot;.</p>
{% endif %}
</div>
