{% extends "easydmp/invitation/plan/edit/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Accept invitation to edit {{ object.plan.title|capfirst }}</h1>

<div class="confirm-form">
  <p>You are registered as {{ request.user }}{% if request.user.email_address %}, email address {{ request.user.email_address }}{% endif %}.
  If this is not the id you wish to use to edit this plan: log out, log in again and visit <a href=".">this specific page</a> once more.</p>
  </p>
  <form action="." method="POST">
      {% csrf_token %}
      <input type="submit" value="I hereby accept the invitation to edit {{ object.plan.title|capfirst }}" class="btn btn-primary" />
  </form>
</div>
{% endblock content %}
