      {% if section_progress|length > 1 %}
      <div class="uninett-whole-row progressbar progressbar-small">
      <ul>
        {% for item in section_progress %}
        <li {% if item.status %}class="{{ item.status }}"{% endif %}>
          <div class="progressbar2"></div>
          <span class="withfadein"><a href="{{ item.link }}" title="{{ item.title }}">{{ item.label }}</a></span>
          <p title="{{ item.title }}">{{ item.title|truncatechars:13 }}</p>
        </li>
        {% endfor %}
      </ul>
      </div>
      {% endif %}
