{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row uninett-whole-row">
    <div class="col-lg-12 uninett-color-white uninett-padded">
      <div id="editplan_header" class="top-wrap">
        <div>
            <h2>{{ plan.template }}: {{ plan|truncatechars:40 }}</h2>
        </div>
        <div class="btn-group">
          <div class="wrap"><span class='caret'></span><a class="summary-link" href="{% url 'plan_detail' plan=plan.pk %}">Go to plan summary</a></div>
        </div>
        <div class="col-lg-12 savetxt">Your answers are saved every time you press "Save"</div>
      </div>

    {% include "easydmp/plan/_section_progress_bar.html" %}
    <div class="section section-depth-{{ section.section_depth }}">
      <div class="section-header">
        <h3>{{ section.full_title }}{% if not section.optional %}<span class="asteriskField">*</span>{% endif %}</h3><!-- Skipped: {{ answerset.skipped }} -->
        <p class="answerset-controls">
          {% if deletable %}
          <form action="{% url 'remove_answerset' plan=plan.pk section=section.pk answerset=answerset.pk %}" class="remove-answerset" method="get">
            <button title="Remove" aria-label="Remove"></button>
          </form>
          {% endif %}
          {% if addable %}
          <form action="{% url 'add_answerset' plan=plan.pk section=section.pk answerset=answerset.pk %}" class="add-answerset" method="get">
            <button title="Add" aria-label="Add"></button>
          </form>
          {% endif %}
        </p>
      </div>
      {% if section.introductory_text or section.comment %}
      <div class="section-information">
        <div class="section-introduction">{{ section.introductory_text }}</div>
        <div class="section-comment">{{ section.comment }}</div>
      </div>
      {% endif %}

      <form class="blueForms" method="post">
      {% csrf_token %}
      {% for question in forms %}
        <p>
        {% with form=question.form notesform=question.notesform answer=question.answer %}
        {% include "easydmp/plan/_answer_form.html"%}
        {% endwith %}
      {% endfor %}

      <div class="form-actions">
        {% if section.title %}
        {% if prev_section %}
        <input class="btn btn-primary" name="prev" type="submit" value="Prev" />
        {% else %}
        <input class="btn btn-primary" name="prev" type="submit" value="Summary" />
        {% endif %}
        {% endif %}
        <input class="btn btn-primary" name="save" type="submit" value="Save" />
        {% if next_section %}
        <input class="btn btn-primary" name="next" type="submit" value="Next" />
        {% else %}
        <input class="btn btn-primary" name="next" type="submit" value="Summary" />
        {% endif %}
      </div>
      </form>
    </div>
  </div>
{% endblock content %}
