{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link rel="stylesheet" href="/static/editplan.css" />
<style type="text/css">
.path .current { font-weight: bold; background: #333; color: white }
</style>
{% endblock %}
{% block content %}
  <h1>{{ plan|capfirst }}</h1>
  {% include "easydmp/plan/_section_progress_bar.html" %}

  <div class="section section-depth-{{ section.section_depth }}">
    <h2>{{ section.full_title }}</h2>
    <div class="section-introduction">{{ section.introductory_text|safe }}</div>
    <div class="section-comment">{{ section.comment|safe }}</div>
    <p class="form-actions">
      <a id="id-prev" class="btn btn-primary" href="{{ prev }}"><button>Prev</button></a>
      <a id="id-next" class="btn btn-primary" href="{{ next }}"><button>Next</button></a>
    </p>
  </div>
{% endblock content %}
{% block postload %}
{% endblock postload %}
