<!DOCTYPE html>
<html>
<head>
    <title>Data Management Plan: {{ plan.title }}</title>
    <style type="text/css">
    body { margin: 4em; }
    section { padding-bottom: 1em; }
    table.metadata th { text-align:left; padding-right: 1ex; }
    div.section-introduction { padding-bottom: 2em;}
    div.answer { padding-bottom: 1em; }
    div.note { padding-top: 1em; }
    .answer .question {font-weight: bold}
    </style>
</head>
<body>
  <header>
    <h1>Data Management Plan: {{ plan.title }}</h1>
    <table class="metadata">
        <tr><th>Version</th><td>{{ plan.version }}</td></tr>
        <tr>
            <th>Template</th>
            <td>{{ template.title }}
                {% if template.version != 1 %}{{ template.version }}{% endif %}
            </td>
        </tr>
        <tr><th>Last modified date</th><td>{{ plan.modified }}</td></tr>
        <tr><th>Last modified by</th><td>{{ plan.modified_by }}</td></tr>
        <tr><th>Last checked OK</th><td>{{ last_validated_ok }}</td></tr>
        <tr><th>Editors</th><td>{{ editors }}</td></tr>
    </table>
  </header>
{% include "easydmp/plan/_generated_section.html" %}
</body>
</html>
