{% extends "easydmp/plan/base.html" %}
{% load static %}
{% load plan_tags %}
{% block title %}
{{ block.super }}, Plan - {{ object.title|capfirst }} V{{object.version }}{% endblock %}
{% block content %}
  <!--
      valid: {{ object.valid }}
  -->
  <!-- Summary Box -->
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        <div id="summary_header">
            <h2>{{ object.title|capfirst }} V{{object.version }}{% show_checkmark object.valid %}</h2>
          <div class="actions dropdown">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                <span class="caret"></span>
            </button>
            <div class="collapse" id="collapseExample">
            <ul class="plan-actions">
              {% include "easydmp/plan/_plan_actions_dropdown.html" %}
            </ul>
            </div>
          </div>
        </div>
        {% if output %}
        <div class="dmpsummary">
        {% include 'easydmp/plan/_section_detail.html' with summaries=output %}
        </div>
        {% else %}
        <p>No questions answered. <a href="{% url 'first_question' plan=object.id %}">Start here</a>.</p>
        {% endif %}
    </div>
  </div>
{% endblock content %}
