{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Removing your own edit access to "{{ object.plan.title|capfirst }} {{ object.plan.added }}"</h1>

  <div class="confirm-form">
  <p>You are about to change your own access to editing this plan. If you set
  yourself to "view", you cannot undo it by yourself. You would no longer be
  able to edit any answers in the plan, and you won't be able change the access
  of anyone else.</p>

  {% crispy form %}
  </div>
{% endblock content %}
