{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Create new plan</h1>
  <h3>Template: {{ template.title }}{% if template.abbreviation %} ({{ template.abbreviation }}){% endif %}</h3>
  {% if template.description %}
  <div>{{ template.description }}</div>
  {% endif %}
  {% if template.more_info %}
  <p><a href="{{ template.more_info }}">More info about the {{ template.title }} template</a>.</p>
  {% endif %}
  {% crispy form %}
{% endblock content %}
