{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="jumbotron uninett-color-lightBlue">
    <h2>Create new plan</h2>
  </div>
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        <h3>Template: {{ template.title }}{% if template.abbreviation %} ({{ template.abbreviation }}){% endif %}</h3>
        {% if template.description %}
        <div>{{ template.description }}</div>
        {% endif %}
        {% if template.more_info %}
        <p><a href="{{ template.more_info }}">More info about the {{ template.title }} template</a>.</p>
        {% endif %}
{% crispy form %}
    </div>
  </div>
{% endblock content %}
