{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <h1>Make "{{ object.title|capfirst }} {{ object.added }}" public</h1>

  <div class="confirm-form">
    <p>Only  a locked plan can be made public, and once made public it cannot be hidden again.</p>
    <p>It will become publicly accessible for automated harvesters or anyone else with the link.</p>
    <p>Are you really sure you are ready to make this plan public?</p>
    {% crispy form %}
  </div>
{% endblock content %}
