{% extends "easydmp/plan/base.html" %}
{% block content %}
  <div class="row uninett-color-white uninett-whole-row">
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
          <h1>{{ object.title|capfirst }}</h1>
      </div>
    </div>
  </div>

  <!-- Summary Box -->
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        {% if output.items %}
        <div class="dmpsummary">
            {% for section_title, sectiondata in output.items %}
            <div class="section">
            <h3 class="section_title">{{ section_title }}</h3>
            {% if sectiondata.section.introductory_text %}
            <div class="section_introduction">{{ sectiondata.section.introductory_text }}</div>
            {% endif %}
            {% if sectiondata.section.comment %}
            <div class="section_comment"><td colspan="3">{{ sectiondata.section.comment }}</div>
            {% endif %}
            {% if sectiondata.data %}
            {% for question_pk, value in sectiondata.data.items %}
            <dl class="questionrow">
                <dt class="question">{{ value.question }}</dt>
                <dd class="answer">{{ value.answer }}
                    {% if value.notes %}<br />
                    <div class="notes">
                        <b>Notes:</b>
                        {{ value.notes }}
                    </div>
                    {% endif %}
                <p class="actions"><a href="{% url 'new_question' plan=object.id question=question_pk %}">Edit</a></p>
                </dd>
            </dl>
            {% endfor %}
            {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No questions answered. <a href="{% url 'first_question' plan=object.id %}">Start here</a>.</p>
        {% endif %}
</div></div>

  <!-- Editors Box -->
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        <h2>Editors</h2>
        <ul>
        {% for user in object.editor_group.user_set.all %}
        <li>{{ user }}
        {% endfor %}
        </ul>

        <p><a href="{% url 'invitation_plan_editor_create' plan=object.pk %}">Invite editors to this plan</a></p>
        <p><a href="{% url 'invitation_plan_editor_list' plan=object.pk %}">Show invitations</a></p>
    </div>
  </div>

  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
<h2>Generated text</h2>

<table class="dmptable"r>
<td><a href="{% url 'generated_plan_text' plan=object.id %}">Text</a></td>
<td><a href="{% url 'generated_plan_html' plan=object.id %}">Html</a></td>
<td><a href="{% url 'generated_plan_pdf' plan=object.id %}">PDF</a></td>
</table>
</div></div>
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
<h2>Action</h2>
<p><a href="{% url 'plan_delete' plan=object.id %}">Delete this plan (no undo)</a></p>
</div></div>
<div>
    <br />
    <br />
    <br />
</div>
{% endblock content %}
