{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
<h1>Check "{{ object.title|capfirst }} {{ object.added|date:"Y-m-t H:i:s" }}"</h1>
      </div>
    </div>
  </div>

  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        <p>A plan needs to be valid (all the necessary questions answered) before it can be published.</p>
        <p>By clicking "Yes" below the plan will be checked for validity.
        Depending on the number of questions and the complexity of the template
        this might take several seconds.</p>
        <p>Do you want to check the plan now?</p>
        {% crispy form %}
</div></div>
{% endblock content %}
