{% extends "easydmp/plan/base.html" %}
{% load static %}
{% load plan_tags %}
{% block extrahead %}
    <link rel="stylesheet" href="/static/plan-summary.css" />
{{ form.media.css }}
{% endblock %}
{% block title %}
{{ block.super }}, Plan - {{ object.title|capfirst }} V{{object.version }}{% endblock %}
{% block precontent %}
   <div class="plan-detail">
     <!-- valid: {{ object.valid }} -->
     <!-- Summary Box -->
     <details class="plan-actions">
       <summary>
         <h1>{{ object.title|capfirst }} V{{object.version }}{% show_checkmark object.valid %}</h1>
         <div role="cell" class="action" aria-hidden="true"><span class="caret"></span></div>
       </summary>
       <div class="actions">
         <ul>
           {% include "easydmp/plan/_plan_actions_dropdown.html" %}
         </ul>
       </div>
     </details>
     <!-- end summary box -->
   </div>
{% endblock %}
{% block content %}
   {% if output %}
   <div class="dmpsummary">
   {% include 'easydmp/plan/_section_detail.html' with summaries=output %}
   </div>
   {% else %}
   <p>No questions answered. <a href="{% url 'first_question' plan=object.id %}">Start here</a>.</p>
   {% endif %}
   </div>
{% endblock content %}
