{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Check "{{ object.title|capfirst }} {{ object.added }}"</h1>

  <div class="confirm-form">
    <p>A plan needs to be valid (all the necessary questions answered) before it can be published.</p>
    <p>By clicking "Yes" below the plan will be checked for validity.
    Depending on the number of questions and the complexity of the template
    this might take several seconds.</p>
    <p>Do you want to check the plan now?</p>
    {% crispy form %}
  </div>
{% endblock content %}
