{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="row uninett-color-white uninett-whole-row">
    <h2>Make "{{ object.title|capfirst }} {{ object.added }}" public</h2>
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        <p>Only  a locked plan can be made public, and once made public it cannot be hidden again.</p>
        <p>It will become publicly accessible for automated harvesters or anyone else with the link.</p>
        <p>Are you really sure you are ready to make this plan public?</p>
        {% crispy form %}
</div></div>
{% endblock content %}
