{% extends "easydmp/plan/base.html" %}
{% load static %}
{% block content %}
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        <div class="top-wrap">
            <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
                <h1>Your plans</h1>
            </div>
            <div id="create_new_plan">
                <h2><a href="{% url 'new_plan' %}">+ Create new</a></h2>
            </div>
        </div>
      <table class="dmptable" width="80%">
        <tbody>
          {% for object in object_list %}
          <tr>
            <td><a href="{% url 'plan_detail' plan=object.id %}">{{ object.title|capfirst }}</a></td>
            <td>{{ object.template }}</a></td>
            <td>
               <div class="dropdown">
                 <button class="btn btn-default dropdown-toggle" type="button" id="actionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu" aria-labelledby="actionsMenu">
                     <li><a href="{% url 'update_plan' plan=object.id %}"><img src="{% static 'usit/icons/icon-edit.png' %}"/>Rename</a></li>
                     <li><a href="{% url 'invitation_plan_editor_create' plan=object.id %}"><img src="{% static 'usit/icons/icon-people.png' %}"/>Invite coworkers</a></li>
                     <!--
                     <li><a href="{% url 'update_plan' plan=object.id %}"><img src="{% static 'usit/icons/icon-publish.png' %}"/>Publish</a></li>
                     -->
                     <li><a href="{% url 'plan_delete' plan=object.id %}"><img src="{% static 'usit/icons/icon-delete.png' %}"/>Delete</a></li>
                     <li><a href="{% url 'plan_saveas' plan=object.id %}"><img src="{% static 'usit/icons/icon-duplicate.png' %}"/>Duplicate</a></li>
                     <li><a href="{% url 'generated_plan_html' plan=object.id %}"><img src="{% static 'usit/icons/icon-export.png' %}"/>Export</a></li>
                     <!--
                     <li><a href="{% url 'generated_plan_html' plan=object.id %}"><img src="{% static 'usit/icons/icon-print.png' %}"/>Print</a></li>
                     -->
                 </ul>
               </div>
            </td>
            <td>{{ object.added|date:"Y-m-d" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
