{% extends "easydmp/plan/base.html" %}
{% load static %}
{% block content %}
  <!--
      valid: {{ object.valid }}
  -->
  <!-- Summary Box -->
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
        <div id="summary_header">
            <h2>{{ object.title|capfirst }}{% if object.valid %} 🗹{% endif %}</h2>
          <div class="actions dropdown">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                <span class="caret"></span>
            </button>
            <div class="collapse" id="collapseExample">
            <ul class="plan-actions">
              {% include "easydmp/plan/_plan_actions_dropdown.html" %}
            </ul>
            </div>
          </div>
        </div>
        {% if output.items %}
        <div class="dmpsummary">
            {% for section_title, sectiondata in output.items %}
            <div class="section section_depth_{{ sectiondata.section.depth }} " id="section-{{ sectiondata.section.pk }}">
                <h3 class="section_title"><a href="{% url 'section_detail' section=sectiondata.section.pk plan=object.id %}">{{ sectiondata.section.full_title }}{% if sectiondata.section.valid %} 🗹{% endif %}</a></h3>
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#section-{{ sectiondata.section.pk }} .content-wrap" aria-expanded="false" aria-controls="collapseExample">
                <span class="caret"></span>
                </button>
                <div class="content-wrap collapse" aria-expanded="false" style="height: 0px;">
                {% if sectiondata.section.introductory_text %}
                <div class="section_introduction">{{ sectiondata.section.introductory_text }}</div>
                {% endif %}
                {% if sectiondata.section.comment %}
                <div class="section_comment"><td colspan="3">{{ sectiondata.section.comment }}</div>
                {% endif %}
                {% if sectiondata.data %}
                {% for question_pk, value in sectiondata.data.items %}
                <dl class="questionrow">
                    <dt class="question">{{ value.question }}</dt>
                    <dd class="answer">{{ value.answer|default_if_none:"" }}
                        {% if value.notes %}<br />
                        <div class="notes">
                            <b>Notes:</b>
                            {{ value.notes }}
                        </div>
                        {% endif %}
                        {% if request.user|may_edit_plan:object and not object.locked %}
                    <p class="actions"><a href="{% url 'new_question' plan=object.id question=question_pk %}">Edit</a></p>
                        {% endif %}
                    </dd>
                </dl>
                {% endfor %}
                </div>
                {% endif %}
                </div>
                {% endfor %}
        </div>
        {% else %}
        <p>No questions answered. <a href="{% url 'first_question' plan=object.id %}">Start here</a>.</p>
        {% endif %}
    </div>
  </div>
{% endblock content %}
