{% extends "easydmp/plan/base.html" %}
{% load static %}
{% block content %}
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
      {% if object_list.exists %}
      <div class="top-wrap">
        <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
          <h1>Your plans</h1>
        </div>
        <div id="create_new_plan">
          <h2><a href="{% url 'choose_template' %}">+ Create new plan</a></h2>
        </div>
      </div>
      <table class="dmptable" width="80%">
        <tbody>
          {% for object in object_list %}
          <tr>
              <td><a href="{% url 'plan_detail' plan=object.id %}">{{ object.title|capfirst }} v{{ object.version }}{% if object.valid %} 🗹{% endif %}</a></td>
            <td>{{ object.template }}</a></td>
            <td>
               <div class="dropdown">
                 <button class="btn btn-default dropdown-toggle" type="button" id="actionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu" aria-labelledby="actionsMenu">
                     {% include "easydmp/plan/_plan_actions_dropdown.html" %}
                 </ul>
               </div>
            </td>
            <td>{{ object.added }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
        <h1>Your plans</h1>
        <p>You currently have no plans. After creating or being given access to
        your first plan, it'll turn up here.</p>
        <a class="btn btn-default" href="{% url 'new_plan' %}">Create your first plan</a>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
