{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Lock  "{{ object.title|capfirst }} {{ object.added }}"</h1>

  <div class="confirm-form">
    <p>Locking a plan means setting it to read only. It will not be
    editable anymore and you will have to create a new version to make it
    editable again.</p>
    <p>By clicking "Yes" below the plan will be locked.</p>
    <p>Do you want to lock this plan now?</p>
    {% crispy form %}
  </div>
{% endblock content %}
