{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
<style type="text/css">
.path .current { text-weight: bold; background: #333; color: white }
</style>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-darkBlue">
          <h1>{{ plan|capfirst }}</h1>
      </div>
    </div>
  </div>

  <!-- start progress / status bar // USIT-code -->
  <div class="row uninett-whole-row progressbar">
    <ul>
    {% for section in section_progress %}
    <li {% if section.status %}class="{{ section.status }}"{% endif %}>
          <div class="progressbar2"></div>
          <span><a href="{% url 'section_detail' plan=plan.id section=section.pk %}">{{ section.label }}</a></span>
          {{ section.title }}
      </li>
    {% endfor %}
    </ul>
  </div>
  <!-- end progress / status bar // USIT-code -->

  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
      <div class="section section-depth-{{ section.section_depth }}">
          <h3>{{ section.full_title }}</h3>
          <div class="section-introduction">{{ section.introductory_text }}</div>
          <div class="section-comment">{{ section.comment }}</div>
          <div class="form-actions">
            <a id="id-prev" class="btn btn-primary" href="{{ prev }}">Prev</a>
            <a id="id-next" class="btn btn-primary" href="{{ next }}">Next</a>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block postload %}
{% endblock postload %}
