{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-lightBlue">
        <h2>Data Management Plan generator</h2>
      </div>
    </div>
  </div>

  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
<h3>{{ section.title }}</h3>
<div>{{ section.introductory_text }}</div>
      <div class="breadcrumbs">
<h4>{% for q in questions_in_section %}
    <span>
        {% if question_pk != q.pk %}<a href="{% url 'new_question' plan=object.pk question=q.pk %}">{{ q }}</a>
        {% else %}
        {% if question_pk == q.pk %}<strong style="text-weight: bold; background: #333; color: white ">{{ q }}</strong>{% else %}{{ q }}{% endif %}
        {% endif %}
    </span>
    {% endfor %}
</h4>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress|floatformat:"0" }}%">
          {{ progress|floatformat:"0" }}% complete
        </div>
      </div>
      [
{% crispy form %}
]
<div style="display: none" class="answers">
    {% for answer in answers %}<div id="answer-{{ answer.choice }}" style="display: none">{{ answer.canned_text }}</div>{% endfor %}
    <div id="framing-text">{{ framing_text }}</div>
</div>
    </div>
  </div>
{% endblock content %}
{% block postload %}
<script type="text/javascript">
$( ".dateinput" ).datepicker({dateFormat: "yy-mm-dd"});
$(".help-block").dialog({
    autoOpen: false
});
$("#submit-id-submit").after(
        " <button class=btn type=button id=btnShowHelp>Help</button>"
);
$("#btnShowHelp").click(function () {
    $(".help-block").dialog("open");
});
</script>
{% endblock postload %}
