{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
<style type="text/css">
.path .current { text-weight: bold; background: #333; color: white }
</style>
{{ form.media.css }}
{% endblock %}
{% block content %}

<div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">

<!-- /* iselin limt inn */ -->
<div id="editplan_header" class="top-wrap">
    <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
        <h1>{{ object.title|capfirst }}</h1>
    </div>
    <div class="btn-group">
        <div class="wrap">
            <span class='caret'></span>
            <a class="summary-link" href="{% url 'plan_detail' plan=object.pk %}">Go to plan summary</a>
        </div>
    </div>
    <div class="col-lg-12 savetxt">Your answers are automatically saved</div>
</div>

  <!-- start progress / status bar // USIT-code -->
  <div class="row uninett-whole-row progressbar progressbar-small">
    <ul>
    {% for section in section_progress %}
    <li {% if section.status %}class="{{ section.status }}"{% endif %}>
          <div class="progressbar2"></div>
          <span class="withfadein"><a href="{% url 'section_detail' plan=object.id section=section.pk %}">{{ section.label }}</a></span>
          <p>{{ section.title }}</p>
      </li>
    {% endfor %}
    </ul>
  </div>
  <!-- end progress / status bar // USIT-code -->

  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
      <div class="section section-depth-{{ section.section_depth }}">
          <h3>{{ section.full_title }}</h3>
          <div class="section-introduction">{{ section.introductory_text }}</div>
          <div class="section-comment">{{ section.comment }}</div>
          {% if user.is_superuser %}
          <div class="superuser path">
            <h4>{% for q in path %}
              <span>
                {% if question_pk != q.pk %}<a href="{% url 'new_question' plan=object.pk question=q.pk %}">{{ q }}</a>
                {% else %}
                {% if question_pk == q.pk %}<strong class="current">{{ q }}</strong>{% else %}{{ q }}{% endif %}
                {% endif %}
              </span>
              {% endfor %}
            </h4>
          </div>
          {% endif %}

          <form class="blueForms" id="id-{{ form.prefix }}" method="POST">
              {% csrf_token %}
              <div class="question-label">
                <label class="control-label requiredField">{{ form.label }}<span class="asteriskField">*</span></label>
              </div>
              <p class="help_text question-help">{{ form.help_text|safe }}</p>
              <p class="question-comment" style="">{{ form.question.comment }}</p>


              <div class="form-body">
                  {{ form.non_field_errors }}
                  {% if form.forms %}
                  {% include "widgets/formset.html" %}
                  {% else %}
                  <div class="control-group">
                      {{ form.choice }}
                      {% if form.choice.errors %}
                      <div class="errors">
                      {{ form.choice.errors }}
                      </div>
                      {% endif %}
                  </div>
                  {% endif %}

                  {% if question.has_notes %}
                  <div id="div_id_{{ question_pk }}_notes" class="control-group notes">
                      <label for="{{ notesform.notes.id_for_label }}" class="control-label">{{ notesform.notes.label }}</label>
                      <div class="controls">
                          <div class="help_text">{{ notesform.notes.help_text|safe }}</div>
                          {{ notesform.notes }}
                          {{ notesform.non_field_errors }}
                      </div>
                  </div>
                  {% endif %}
              </div>

              <div class="form-actions">
                {% if form.has_prevquestion %}
                <input type="submit" name="prev" value="Prev" class="btn btn-primary" id="id-prev" />
                {% endif %}
                <span id="question-position" >Question {{ form.question.position }}/{{ section.questions.count }}</span>
                <input type="submit" name="next" value="Next" class="btn btn-primary" id="id-next" />
              </div>
          </form>

          <div style="display: none" class="answers">
            {% for answer in answers %}
            <div id="answer-canned-{{ answer.choice }}" style="display: none">{{ answer.canned_text }}</div>
            <div id="answer-comment-{{ answer.choice }}" style="display: none">{{ answer.comment }}</div>
            {% endfor %}
            <div id="framing-text">{{ framing_text }}</div>
          </div>
      </div>
    </div>
  </div>

<div>
    <br />
    <br />
</div>
{% endblock content %}
{% block postload %}
<script type="text/javascript">

$( ".dateinput" ).datepicker({dateFormat: "yy-mm-dd"});
$(".help-block").dialog({
    autoOpen: false
});
$("#submit-id-submit").after(
        " <button class=btn type=button id=btnShowHelp>Help</button>"
);
$("#btnShowHelp").click(function () {
    $(".help-block").dialog("open");
});
</script>
<script type="text/javascript">
    $('#add_row').click(function() {
        var form_idx = $('#id_{{ question_pk }}-TOTAL_FORMS').val();
        $('#formset').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_{{ question_pk }}-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{{ form.media.js }}
{% endblock postload %}
