{% extends "easydmp/plan/base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
<style type="text/css">
.path .current { text-weight: bold; background: #333; color: white }
</style>
{{ form.media.css }}
{% endblock %}
{% block content %}
  <div class="row uninett-color-white uninett-whole-row">
      <!-- empty row -->
  </div>
  <div class="row uninett-whole-row">
    <p class="breadcrumbs">
    <span class="breadcrumb"><a href="{% url 'plan_list' %}">Your plans</a></span>
    <span class="breadcrumb-separator">&gt;</span>
    <span class="breadcrumb"><a href="{% url 'plan_detail' plan=object.pk %}">{{ object|capfirst }}</a></span>
    <span class="breadcrumb-separator">&gt;</span>
    <span class="breadcrumb">{{ path.0 }}</span>
    </p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-darkBlue">
          <h1>{{ object|capfirst }}</h1>
      </div>
    </div>
  </div>

  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
      <h3>{{ section.title }}</h3>
      <div class="section-introduction">{{ section.introductory_text }}</div>
      <div class="section-comment">{{ section.comment }}</div>
      {% if user.is_superuser %}
      <div class="superuser path">
        <h4>{% for q in path %}
          <span>
            {% if question_pk != q.pk %}<a href="{% url 'new_question' plan=object.pk question=q.pk %}">{{ q }}</a>
            {% else %}
            {% if question_pk == q.pk %}<strong class="current">{{ q }}</strong>{% else %}{{ q }}{% endif %}
            {% endif %}
          </span>
          {% endfor %}
        </h4>
      </div>
      {% endif %}

      <form class="blueForms" id="id-{{ form.prefix }}" method="POST">
          {% csrf_token %}
          <label class="control-label requiredField">{{ form.label }}<span class="asteriskField">*</span></label>
          <p class="question-help">{{ form.help_text }}</p>
          <p class="question-comment" style="">{{ form.question.comment }}</p>


          <div class="form-body">
              {{ form.non_field_errors }}
              {% if form.forms %}
              {% include "widgets/formset.html" %}
              {% else %}
              <div class="control-group">
                  {{ form.choice }}
                  {% if form.choice.errors %}
                  <div class="errors">
                  {{ form.choice.errors }}
                  </div>
                  {% endif %}
              </div>
              {% endif %}

              <div id="div_id_notes" class="control-group">
                  <label for="id_notes" class="control-label">Notes</label>
                  <div class="controls">
                      {{ notesform.notes }}
                  </div>
              </div>
          </div>

          <div class="form-actions">
            {{ notesform.non_field_errors }}
            {% if notesform.has_prevquestion %}
            <input type="submit" name="prev" value="Prev" class="btn btn-primary" id="id-prev" />
            {% endif %}
            <span id="question-position" >Question {{ form.question.position }}/{{ section.questions.count }}</span>
            <input type="submit" name="submit" value="Next" class="btn btn-primary" id="id-next" />
          </div>
      </form>
      <div style="display: none" class="answers">
        {% for answer in answers %}
        <div id="answer-canned-{{ answer.choice }}" style="display: none">{{ answer.canned_text }}</div>
        <div id="answer-comment-{{ answer.choice }}" style="display: none">{{ answer.comment }}</div>
        {% endfor %}
        <div id="framing-text">{{ framing_text }}</div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block postload %}
<script type="text/javascript">

$( ".dateinput" ).datepicker({dateFormat: "yy-mm-dd"});
$(".help-block").dialog({
    autoOpen: false
});
$("#submit-id-submit").after(
        " <button class=btn type=button id=btnShowHelp>Help</button>"
);
$("#btnShowHelp").click(function () {
    $(".help-block").dialog("open");
});
</script>
<script type="text/javascript">
    $('#add_row').click(function() {
        var form_idx = $('#id_{{ question_pk }}-TOTAL_FORMS').val();
        $('#formset').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_{{ question_pk }}-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{{ form.media.js }}
{% endblock postload %}
