<!DOCTYPE html>
<html lang="en"><!-- template: "{{ view.template_name|default:"--unknown--" }}", url: "{{ request.get_full_path|default:"--unknown--" }}"  -->
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}EasyDMP{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'usit/uninett.css' %}" />
    <link rel="stylesheet" href="{% static 'usit/usitoverride.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        html {
          position: relative;
          min-height: 100%;
        }
        body {
            margin: 1em;
        }
        .footer {
          padding: 1em;
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
        }
        table.dmptable td {
          padding-right: 1ex;
        }
        table.dmptable th {
          padding-right: 1ex;
        }
        .asteriskField { color: red }
        .control-group ul { list-style-type: none; }
        .superuser {
            border-color: #f2f2f2;
            border-style: solid;
            border-width: 1px 6px 1px 6px;
            background-color: #f2f2f2;
        }
    </style>
    {% block extrahead %}{% endblock %}
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    {% if messages %}
    <div class="container messages">
      {% for message in messages %}
      <div role="alert" class="alert">{{ message }}</div>
      {% endfor %}
      {% block "messages" %}{% endblock %}
    </div>
    {% endif %}
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="{% if user.is_authenticated %}{% url "plan_list" %}{% else %}{% url "home" %}{% endif %}">
            <img src="/static/usit/logo.svg" alt="EasyDMP temporary logo" width="240">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'plan_list' %}">Your plans</a></li>
          <li><a href="{% url 'new_plan' %}">Create a new plan</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="mailto:support@easydmp.sigma2.no">Support</a></li>
          {% if request.user.is_staff %}
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
          <li>
              <a href="{% url 'logout' %}"><button type="button" class="btn btn-default">Log out</button></a>
          </li>
          {% else %}
          <li><a href="/about/">About</a></li>
          <li><a href="mailto:support@easydmp.sigma2.no">Support</a></li>
          <li class="uninett-login">
              <a href="{% url 'login-selector' %}"><button type="button" class="btn btn-default uninett-login-btn"><span class="glyphicon glyphicon-user uninett-fontColor-red"></span>Log in</button></a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
    <div class="container demo">
      <p>Note! This is a beta version</p>
    </div>
  </div>
  <div class="container">
{% block content %}
{% endblock %}

    <footer>
    <div class="row uninett-whole-row">
        <p>
        <a href="https://eudat.eu/"><img src="{% static 'eudat/logo.png' %}" alt="EUDAT logo" width="150px"></a>
        <span style="padding: 1em"> </span>
        <a href="https://www.sigma2.no/"><img src="https://www.sigma2.no/sites/all/themes/sigma2/images/UNINETT_Sigma2_logo_H.png" alt="Uninett logo" width="200px"></a>
        </p>
    </div>
    </footer>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
<script src="{% static 'usit/usitoverride.js' %}"></script>
{% block postload %}{% endblock %}
</div>
</body>
</html>
