{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
        <h1>Data Management Plan Generator</h1>
      </div>
    </div>
  </div>
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter login">
    {% if not request.user.is_authenticated %}
      <h2>Log in</h2>
      {% for provider in providers %}
      <h3><a href="{% url 'social:begin' provider.slug %}">{{ provider.name }}</a></h3>
      {% if provider.comment %}<p>{{ provider.comment }}</p>{% endif %}
      {% endfor %}
      {% if providers|length > 1 %}
      <p>Be aware that each provider creates and connects to
      a provider-specific user. Therefore, logging in using multiple providers
      leads to multiple users! If your username ends with random characters,
      this is what has happened.</p>
      <p>If you want to combine users, contact Support. We can merge them
      for you.</p>
      {% endif %}
    {% else %}
      <p>You are alreday logged in, as "{{ request.user.username }}".</p>
    {% endif %}
    </div>
  </div>
{% endblock %}
