{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
        <h1>Data Management Plan Generator</h1>
      </div>
    </div>
  </div>
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-6 col-md-6 uninett-color-white uninett-padded gutter login">
    {% if not request.user.is_authenticated %}
      <h2>Log in</h2>
      {% for provider in providers %}
      <h3><a href="{% url 'social:begin' provider.slug %}">{{ provider.name }}</a></h3>
      {% endfor %}
    {% else %}
      <p>You are alreday logged in, as "{{ request.user.username }}".</p>
    {% endif %}
    </div>
  </div>
{% endblock %}
