{% extends "flat_base.html" %}
{% block title %}EasyDMP Privacy Policy{% endblock %}
{% block flat_content %}
      <p>In order for this website to function, it is necessary to collect some
      data on users and usage.</p>

      <h2>Data on logged in users</h2>

      <p>EasyDMP uses <strong>email addresses</strong> as user names. EasyDMP
      stores these with itself, together with a timestamp marking the first
      login, and a timestamp for the newest login. This is the <em>only</em>
      data intentionally collected about users and it is our intention that
      this will remain so.</p>

      <p>These addresses are stored on first log in, and comes from the login
      facility. Therefore, we only support login mechanisms that supply us with
      an email address. This also means that if a user needs to change their
      email address, they need to do it at whatever facility they use to log
      in, for instance <a href="">Dataporten</a> or <a href="">B2ACCESS</a>,
      and then <a href="mailto:support@easydmp.sigma2.no">contact us</a>.</p>

      <p>The mail address is visible to other logged in users. It is used to
      contact other users, invite other users to work on a plan, or for the
      support team at Sigma to get in contact with specific users if a problem
      occurs. There currently exists no easily used list of all email addresses
      in order to easily contact every user at once as of yet, as there haven't
      been any use for it. If the need should occur, details of the lists will
      be added to this page.</p>

      <h2>Data on other users</h2>

      <p>The web server collects access logs. These contain users' ip-addresses
      and date of access. Log entries older than 30 days are deleted and there
      are no backups. There are also error logs, these are also deleted after
      30 days, with no backups.</p>

      <h2>GDPR and legalese</h2>

      <p>At the moment,
      <a href="https://www.sigma2.no/content/contact">UNINETT Sigma2</a> is both
      <a href="https://www.gdpreu.org/the-regulation/key-concepts/data-controllers-and-processors/"
      title="Definition and explanation of GDPR data controllers vs data processors">data processor and data controller</a>
      for the data about logged in users (above), as far as we understand the terms.</p>

      <p>This policy is in line with <a href="https://www.eudat.eu/privacy-policy">EUDAT's Privacy Policy</a>, see that for the legalese.</p>

      <p>Last updated: 2019-03-28</p>
{% endblock %}
